/* Color theme:
#283D3B dark teal
#197278 mid teal
#EDDDD4 off-white
#C44536 coral
#772E25 wine
*/

body {
    background-image: url(bookshelf.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Sulphur Point';
    color: #283D3B;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header header"
        "main interview"
        "main advert"
        "main vote-form"
        "footer footer";
}

header {
    color: #EDDDD4;
    background-color: #197278;
    margin: -10px;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#social-links ul, .nav-bar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

/* separate with a space selects any li inside a ul inside id="social-links" */
#social-links ul li, .nav-bar-list-item{
    list-style-type: none;
    font-family: 'Unlock';
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 2px 10px;
}

#social-links ul li a, .nav-bar-link {
    text-decoration: none;
    color: white;
    display: block;
}

i {
    padding: 0 4px;
}

.contact-email {
    padding: 10px;
    margin: 10px;
}

address a {
    color: white;
}

main {
    background-color: #edddd4ab;
    border-radius: 20px;
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "title headshot"
        "these-days headshot"
        "background-info background-info";
    padding: 15px;
    grid-auto-rows: min-content;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

#title {
    grid-area: title;
}

#these-days {
    grid-area: these-days;
}

#background-info {
    grid-area: background-info;
}

h1 {
    font-size: 6em;
    font-family: 'Over the Rainbow';
    margin: 0px;
}

.sub-heading {
    font-size: 3em;
    font-family: 'Over the Rainbow';
    margin: 0px;
}

main p {
    font-size: 120%;
}

#headshot-fig {
    background-color: #283D3B;
    color: #EDDDD4;
    border-radius: 10px;
    max-width: 100%;
    padding: 20px;
    margin: 0;
    grid-area: headshot;
}

#headshot-img {
    border-radius: 10px;
    max-width: 100%;
    min-width: 500px;
    display: block;
}


.interview {
    grid-area: interview;
    background-color: #772f25cc;
    color: #EDDDD4;
    border-radius: 20px;
    padding: 10px;
}

.article-images {
    display: block;
    margin: 20px;
}
.article-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.advert {
    grid-area: advert;
    padding: 10px;
    background-color: #C44536cc;
    border-radius: 20px;
    color: #EDDDD4;
}
.advert h2 {
    display: inline-block;
}

.vote-form {
    grid-area: vote-form;
    background-color: #772E25cc;
    border-radius: 20px;
    color: #EDDDD4
}

footer {
    grid-area: footer;
    color: #EDDDD4;
    background-color: #197278;
    margin: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1300px) {
    body {
        grid-template-areas:
            "header header"
            "main main"
            "interview advert"
            "interview vote-form"
            "footer footer";
    }
}

@media screen and (max-width: 800px) {
    body {
        background-repeat: repeat;
        background-size: cover;
        grid-template-areas:
            "header header"
            "main main"
            "interview interview"
            "advert advert"
            "vote-form vote-form"
            "footer footer";
        }
    main {
        grid-template-areas:
            "title title"
            "headshot headshot"
            "these-days these-days"
            "background-info background-info";
    }
}
