body {
    background-color: rgba(117, 29, 29, 0.658);
    font-family: 'Sulphur Point';
    margin: auto;
    padding: 0;
    max-width: 800px;
}


header {
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0;
}

#social-links ul {
    list-style: none;
    padding-left: 0;
}

/* separate with a space selects any li inside a ul inside id="social-links" */
#social-links ul li{
    list-style-type: none;
    font-family: 'Unlock';
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
}

#social-links ul li a {
    text-decoration: none;
    color: white;
}


i {
    padding: 0 4px;
}

address a {
    color: white;
}

main {
    margin: 10px;
}

h1 {
    font-size: 6em;
    font-family: 'Over the Rainbow';
    margin: 0px;
}

/* selects any p that directly follows an h1 */
h1 + p {
    font-size: 3em;
    font-family: 'Over the Rainbow';
    margin: 0px;
}

#headshot-fig {
    max-width: 80%;
}

#headshot-img {
    max-width: 100%;
}
