/* Color theme:
#283D3B dark teal
#197278 mid teal
#EDDDD4 off-white
#C44536 coral
#772E25 wine
*/

body {
    background-color: #751d1da8;
    font-family: 'Sulphur Point';
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header header"
        "main interview"
        "main advert"
        "main vote-form"
        "footer footer";
}

header {
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0;
    grid-area: header;
}

main {
    grid-area: main;
}

.interview {
    grid-area: interview;
}

.advert {
    grid-area: advert;
}

.vote-form {
    grid-area: vote-form;
}

footer {
    grid-area: footer;
}

#social-links ul {
    list-style: none;
    padding-left: 0;
}

/* separate with a space selects any li inside a ul inside id="social-links" */
#social-links ul li{
    list-style-type: none;
    font-family: 'Unlock';
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
}

#social-links ul li a {
    text-decoration: none;
    color: white;
}


i {
    padding: 0 4px;
}

address a {
    color: white;
}

main {
    margin: 10px;
}

h1 {
    font-size: 6em;
    font-family: 'Over the Rainbow';
    margin: 0px;
}

/* selects any p that directly follows an h1 */
h1 + p {
    font-size: 3em;
    font-family: 'Over the Rainbow';
    margin: 0px;
}

#headshot-fig {
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 10px;
    max-width: 100%;
    padding: 20px;
    margin: 0;
}

#headshot-img {
    max-width:100%;
    border-radius: 10px;
}

